.main-head{
    margin-bottom: 0.2em;
}
hr{
    color: lightgray;
}
.head{
    display: flex;
}
a{
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
.heading{
    padding: 5px;
    margin: 1em;
    margin-bottom: 0;
}
.search-meeting{
    background-color: var(--primary-color);
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: 4px;
}
.meetings{
    margin: 15px;
}
.title{
    margin-top: 15px;
    margin-bottom: 0;
    color: azure;
}
.details{
    margin-top: 1em;
}
.full-width{
    width: 100%;
}
textarea{
    height: 100px;
    resize: vertical;
    color: gray;
}
.input{
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 0.5em;
}
.search{
    margin-top: 1em;
    background-color: rgb(14, 115, 124);
    color: azure;
    border: 1px solid;
    border-color: rgb(14, 115, 124);
    border-radius: 4px;
}
.head a.active{
    border: 1px solid black;
    border-bottom: none;
    color: initial;
}
a:hover{
    color: blueviolet;
}
.box{
    margin-top: 1em;
    border: 1px solid;
    border-color: grey;
    border-radius: 2px;
}
.info{
    margin: 1em;
}
.date-of-meeting{
    font-size: larger;
    font-weight: bold;
}
.btn{
    color: azure;
    background-color: crimson;
    border: 1px solid;
    border-color: crimson;
    border-radius: 4px;
}
.second{
    margin-top: 4px;
}
.num{
    font-weight: bold;
}
.btn-add{
    background-color: rgb(14, 115, 124);
    color: azure;
    border: 1px solid;
    border-color: rgb(14, 115, 124);
    border-radius: 4px;
}